<!DOCTYPE html>
#{extends 'main.html' /}
<html>

<head>
	<meta charset="UTF-8">
	<title>Acerto Crítico</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">

	<style>
		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	</style>

</head>

<body class="bg-dark">

	<div class="row w-50 mx-auto">
		<div
			class="card col-9 my-4 mx-0 px-0 bg-dark text-light rounded-0 border-light border-top-0 border-start-0 border-bottom-0">
			<div class="row g-0">
				<div class="col-3 pt-3">

					<img src="${jSelecionado.caminhoImg}" class="img-fluid" alt="...">

				</div>
				<div class="col-9">
					<div class="clearfix">
						<div class="card-body pt-3 ">
							<h5 class="card-title">${jSelecionado.nome}</h5>
							<p class="card-text" style="text-align: justify;">
								${jSelecionado.descricao}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row justify-content-center my-4 col bg-dark text-light px-0">
			<div class="row">
				<img src="@{'/public/images/dado-blank.png'}" alt="nota" class="col-5 p-0 m-0 g-0" style="height: 75%;">
				<p class="col-6 g-0 text-center" style="font-size: 32px; margin-top: 34px;">CRÍTICA</p>
			</div>
			<div class="row">
				<p class="col-6 mx-2 g-0 text-center" style="font-size: 22px; margin-top: 34px;">JOGADORES</p>
				<img src="@{'/public/images/dado-blank.png'}" alt="nota" class="col-5 p-0 m-0 g-0" style="height: 75%;">
			</div>
		</div>


	</div>
	<div class="row row-cols-3 w-75 mx-auto my-5" style="background-color: #171a1c;">

		<div class="col border border-top-0 border-bottom-0 border-light">
			<div class="d-flex flex-row mb-4" style="border-bottom: solid; border-color: white; border-width: 1px;">
				<p class="text-light me-auto mt-auto" style="font-size: 42px;">Críticas positivas</p> <img
					src="@{'/public/images/crit.png'}" style="width: 25%;">

			</div>
			<div class="row ">
				#{list items:comentariosB, as:'b'}
				<div class="card   col-11 mx-auto border-0 mb-2 " style="background-color: #0d0d0d;">
					<div class="card-header text-light d-flex pb-0" style="font-size: 18px; font-weight: bold;">
						${b.usuario.nome} <p class="ms-auto">nota: ${b.nota}</p>
					</div>
					<div class="card-body text-light">
						<p class="card-text">${b.comentario}</p>
					</div>
				</div>
				#{/list}

			</div>
		</div>

		<div class="col">
			<div class="d-flex flex-row mb-4" style="border-bottom: solid; border-color: white; border-width: 1px; ">
				<p class="text-light me-auto mt-auto " style="font-size: 36px;">Críticas Balanceadas</p> <img
					src="@{'/public/images/crossed-Swords.png'}" style="width: 25%;">
			</div>
			<div class="row">
				#{list items:comentariosM, as:'m'}
				<div class="card col-11 mx-auto border-0 mb-2" style="background-color: #0d0d0d;">
					<div class="card-header text-light d-flex pb-0" style="font-size: 18px; font-weight: bold;">
						${m.usuario.nome} <p class="ms-auto">nota: ${m.nota}</p>
					</div>
					<div class="card-body text-light">
						<p class="card-text">${m.comentario}</p>
					</div>
				</div>
				#{/list}
			</div>
		</div>

		<div class="col border border-top-0 border-bottom-0 border-light">
			<div class="d-flex flex-row mb-4" style="border-bottom: solid; border-color: white; border-width: 1px;">
				<p class="text-light me-auto mt-auto" style="font-size: 42px;">Críticas Negativas</p> <img
					src="@{'/public/images/Skull.png'}" style="width: 25%;">
			</div>
			<div class="row">
				#{list items:comentariosR, as:'r'}
				<div class="card   col-11 mx-auto border-0 mb-2" style="background-color: #0d0d0d;">
					<div class="card-header text-light d-flex pb-0" style="font-size: 18px; font-weight: bold;">
						${r.usuario.nome} <p class="ms-auto">nota: ${r.nota}</p>
					</div>
					<div class="card-body text-light">
						<p class="card-text">${r.comentario}</p>
					</div>
				</div>
				#{/list}

			</div>

		</div>

	</div>

	<div class="row">
		<h1 class="display-6 text-light text-center mt-5">Deixe Sua Crítica!</h1>
	</div>
	<form action="@{Comentarios.salvar}" method="POST">

		<input type="hidden" name="C.id" />
		<input type="hidden" name="email" value="${email}" />

		<div class="row border border-light border-opacity-50 border-5 rounded-5 shadow-lg w-25 mx-auto mb-4">
			<div class="mt-3 mx-auto w-75 ">

				<label class="text-light" style="font-size: 32px;">${jSelecionado.nome}</label>
				<input type="hidden" name="idJogo" value="${jSelecionado.id}">

			</div>
			<div class="mt-3 mx-auto w-75 ">

				<label for="" class="form-label" style="color: white;">Dê uma nota de 1 a 20:</label>
				<input type="number" class="form-control" style="background-color:#0d0d0d; color: white;" name="C.nota"
					min="1" max="20">

			</div>

			<div class="mb-4 mt-3 mx-auto w-75">

				<label for="" class="form-label" style="color: white;">Dê sua crítica</label>
				<input type="text" class="form-control" style="background-color:#0d0d0d; color: white;"
					name="C.comentario" maxlength="1000">

			</div>
			<input class="btn btn-danger mb-4 mx-auto col-4" type="submit" />

		</div>

	</form>

</body>

</html>