<!DOCTYPE html>
#{extends 'main.html' /}
<html>

<head>
	<meta charset="UTF-8">
	<title>Acerto Crítico</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<style>
		@font-face {
			font-family: "pixel";
			src: url('/public/fonts/Pixeled.ttf') format("truetype");
		}

		@font-face {
			font-family: "pixel-2";
			src: url('/public/fonts/EarlyGameBoy.ttf') format("truetype");
		}

		@font-face {
			font-family: "pixel-3";
			src: url('/public/fonts/EarlyGame.ttf') format("truetype");
		}

		@font-face {
			font-family: "pixel-4";
			src: url('/public/fonts/Igiari.otf') format("Opentype");
		}
	</style>
</head>

<body style="background-color: #21262b; font-family: pixel-2; font-size: 75%;">


	<div class="row w-50 mx-auto mt-5 border-bottom bottom-light">
		<h3 class="text-light ps-0">DESTAQUES</h3>
	</div>

	<div>

		<div class="row mt-1 w-50 mx-auto px-0">
			<div class="col me-2 px-0">

				<form action="@{Usuarios.listaComentario}">
					<input type="hidden" name="idJogo" value="${relAnt.id}" />
					<button type="submit" class="btn m-0 p-0">
						<img src="${relAnt.caminhoImg}" alt="Castlevânia" class="img-fluid rounded px-0">
					</button>
				</form>
			</div>

			<div class="col me-2 px-0">
				<form action="@{Usuarios.listaComentario}">
					<input type="hidden" name="idJogo" value="${sucAno.id}" />
					<button type="submit" class="btn m-0 p-0">
						<img src="${sucAno.caminhoImg}" alt="Castlevânia" class="img-fluid rounded px-0">
					</button>
				</form>
			</div>
			<div class="col px-0">
				<form action="@{Usuarios.listaComentario}">
					<input type="hidden" name="idJogo" value="${expDif.id}" />
					<button type="submit" class="btn m-0 p-0">
						<img src="${expDif.caminhoImg}" alt="Castlevânia" class="img-fluid rounded px-0">
					</button>
				</form>
			</div>
		</div>

		<!--Aba inferior com a descrição / nota de cada jogo-->
		<div class="row w-50 mx-auto px-0 mb-3 mt-2">
			<div class="card col me-2 p-1 border border-warning border-top-0 border-bottom-0 rounded-0"
				style="background-color: #171a1c;">
				<div class="card-body text-light ">
					<div class="clearfix">
						<img src="@{'/public/images/dado-blank.png'}" alt="nota"
							class="col-5 img-fluid float-end m-0 p-0">
						<h5 class="card-title col-8">${relAnt.nome}</h5>
						<h6 class="card-subtitle my-2 text-light">UMA RELIQUIA ANTIGA</h6>
						<p class="card-text col-12" style="text-align: justify; font-family: pixel-4; font-size: 22px;">
							${relAnt.descricao}
						</p>
					</div>
				</div>
			</div>
			<div class="card col me-2 p-1 border border-warning border-top-0 border-bottom-0 rounded-0"
				style="background-color: #171a1c;">
				<div class="card-body text-light ">
					<div class="clearfix">
						<img src="@{'/public/images/dado-blank.png'}" alt="nota"
							class="col-5 img-fluid float-end m-0 p-0">
						<h5 class="card-title col-8">${sucAno.nome}</h5>
						<h6 class="card-subtitle my-2 text-light">UM SUCESSO DO ANO</h6>
						<p class="card-text col-12" style="text-align: justify; font-family: pixel-4; font-size: 22px;">
							${sucAno.descricao}
						</p>
					</div>
				</div>
			</div>
			<div class="card col me-0 p-1 border border-warning border-top-0 border-bottom-0 rounded-0"
				style="background-color: #171a1c;">
				<div class="card-body text-light ">
					<div class="clearfix">
						<div class="col-5 float-end m-0 p-0" style="position: relative; text-align: center;">
						<img src="@{'/public/images/dado-blank.png'}" alt="nota"
							class="img-fluid ">
							<div style="position: absolute; top: 43%; left: 50%; transform: translate(-57%, -50%); font-size: 16px;">${expDif.nota}</div>
							</div>
						<h5 class="card-title col-8">${expDif.nome}</h5>
						<h6 class="card-subtitle my-2 text-light">UMA EXPERIENCIA DIFERENTE</h6>
						<p class="card-text col-12" style="text-align: justify; font-family: pixel-4; font-size: 22px;">
							${expDif.descricao}
						</p>
					</div>
				</div>
			</div>
		</div>
		<!--Aba inferior com a descrição / nota de cada jogo (*FIM*)-->
	</div>
	<div class="row w-50 mx-auto mb-3">
		<div class="card shadow-lg col-9 text-light" style="background-color: #171a1c;">
			<h5 class="card-header border-bottom border-light">EAE JOGADOR!</h5>
			<div class="card-body">
				<h5 class="card-title">Quer deixar sua review tambem?</h5>
				<p class="card-text">Clique aqui para ter acesso aos diversos jogos que ja possuem critica. Contribua
					voce tambem! < </p>
						<a href="/Comentarios/cadastrarComentário" class="btn btn-outline-danger">Fazer uma Review</a>
			</div>
		</div>
</body>

</html>