<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Acerto Crítico</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>

<body style="background-color: #21262b;">
	<nav class="navbar navbar-expand-lg bg-body-tertiary">

		<h1 class="ms-5 col-3">ACERTO CRÍTICO</h3>

			<form class="d-flex col-6" role="search" action="@{Usuarios.telaInicial}">
				<input class="form-control me-3" type="search" placeholder="Pesquisar" aria-label="Pesquisar" 
				name="termo" value="${termo}">
				<button class="btn btn-dark" type="submit" value="Buscar">Pesquisar</button>
			</form>
			#{list items:jogos, as:'j'}
	    ${j.nome}-${j.descricao}-${j.nota}
	#{/list}
			</form>
	</nav>
	<div class="row w-50 mx-auto mt-5 border-bottom bottom-light">
		<h3 class="text-light ps-0">DESTAQUES</h6>
	</div>

	<div>

		<div class="row mt-1 w-50 mx-auto px-0">
			<div class="col me-2 px-0">
				<a href="">
					<img src="@{'/public/images/Castlevânia.jpg'}" alt="Castlevânia" class="img-fluid rounded px-0">
				</a>
			</div>
			<div class="col me-2 px-0">
				<a href="">
					<img src="@{'/public/images/zelda.jpg'}" alt="Castlevânia" class="img-fluid rounded px-0">
				</a>
			</div>
			<div class="col px-0">
				<a href="">
					<img src="@{'/public/images/detroit.jpg'}" alt="Castlevânia" class="img-fluid rounded px-0">
				</a>
			</div>
		</div>

		<!--Aba inferior com a descrição / nota de cada jogo-->
		<div class="row w-50 mx-auto px-0 mb-3 mt-2">
			<div class="card col me-2 p-1 border border-warning border-top-0 border-bottom-0 rounded-0"
				style="background-color: #171a1c;">
				<div class="card-body text-light ">
					<div class="clearfix">
						<img src="@{'/public/images/dado.png'}" alt="nota" class="col-5 img-fluid float-end m-0 p-0">
						<h5 class="card-title col-8">Castlevânia SOTN</h5>
						<h6 class="card-subtitle mb-2 text-light">Uma Relíquia Antiga</h6>
						<p class="card-text col-12">
							Symphony of the Night apresenta jogabilidade de rolagem lateral. O objetivo é explorar o
							castelo de Dracula para derrotar uma entidade que está controlando Richter Belmont, que se
							auto-proclamou lorde do castelo e herói dos eventos que aconteceram em Rondo of Blood.
						</p>
					</div>
				</div>
			</div>
			<div class="card col me-2 p-1 border border-warning border-top-0 border-bottom-0 rounded-0"
				style="background-color: #171a1c;">
				<div class="card-body text-light ">
					<div class="clearfix">
						<img src="@{'/public/images/dado.png'}" alt="nota" class="col-5 img-fluid float-end m-0 p-0">
						<h5 class="card-title col-8">Castlevânia SOTN</h5>
						<h6 class="card-subtitle mb-2 text-light">Uma Relíquia Antiga</h6>
						<p class="card-text col-12">
							Symphony of the Night apresenta jogabilidade de rolagem lateral. O objetivo é explorar o
							castelo de Dracula para derrotar uma entidade que está controlando Richter Belmont, que se
							auto-proclamou lorde do castelo e herói dos eventos que aconteceram em Rondo of Blood.
						</p>
					</div>
				</div>
			</div>
			<div class="card col me-0 p-1 border border-warning border-top-0 border-bottom-0 rounded-0"
				style="background-color: #171a1c;">
				<div class="card-body text-light ">
					<div class="clearfix">
						<img src="@{'/public/images/dado.png'}" alt="nota" class="col-5 img-fluid float-end m-0 p-0">
						<h5 class="card-title col-8">Castlevânia SOTN</h5>
						<h6 class="card-subtitle mb-2 text-light">Uma Relíquia Antiga</h6>
						<p class="card-text col-12">
							Symphony of the Night apresenta jogabilidade de rolagem lateral. O objetivo é explorar o
							castelo de Dracula para derrotar uma entidade que está controlando Richter Belmont, que se
							auto-proclamou lorde do castelo e herói dos eventos que aconteceram em Rondo of Blood.
						</p>
					</div>
				</div>
			</div>
		</div>
		<!--Aba inferior com a descrição / nota de cada jogo (*FIM*)-->
	</div>
	<div class="row w-50 mx-auto mb-3">
		<div class="card shadow-lg col-9 text-light" style="background-color: #171a1c;">
			<h5 class="card-header border-bottom border-light">EAÍ JOGADOR!</h5>
			<div class="card-body">
				<h5 class="card-title">Quer deixa sua review também?</h5>
				<p class="card-text">Clique aqui para ter acesso aos diversos jogos que já possuem crítica. Contribua você também! <3 </p>
				<a href="/Comentarios/cadastrarComentário" class="btn btn-outline-danger">Fazer uma Review</a>
			</div>
		</div>
</body>

</html>